{% render 'partials/head.liquid' %}

<main class="index-main">
	<input type="checkbox" id="tint">

	{% for person in persons %}
	<label for="tint">
		<article class="profile-bubble" style="--fav_color: {{ person.fav_color }}">
			<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none"><path d="M25 25C22.7083 25 20.7465 24.184 19.1146 22.5521C17.4827 20.9201 16.6667 18.9583 16.6667 16.6666C16.6667 14.375 17.4827 12.4132 19.1146 10.7812C20.7465 9.14929 22.7083 8.33331 25 8.33331C27.2917 8.33331 29.2535 9.14929 30.8854 10.7812C32.5174 12.4132 33.3333 14.375 33.3333 16.6666C33.3333 18.9583 32.5174 20.9201 30.8854 22.5521C29.2535 24.184 27.2917 25 25 25ZM8.33334 41.6666V35.8333C8.33334 34.6528 8.63716 33.5677 9.2448 32.5781C9.85244 31.5885 10.6597 30.8333 11.6667 30.3125C13.8195 29.2361 16.007 28.4288 18.2292 27.8906C20.4514 27.3524 22.7083 27.0833 25 27.0833C27.2917 27.0833 29.5486 27.3524 31.7708 27.8906C33.9931 28.4288 36.1806 29.2361 38.3333 30.3125C39.3403 30.8333 40.1476 31.5885 40.7552 32.5781C41.3629 33.5677 41.6667 34.6528 41.6667 35.8333V41.6666H8.33334ZM12.5 37.5H37.5V35.8333C37.5 35.4514 37.4045 35.1041 37.2136 34.7916C37.0226 34.4791 36.7708 34.2361 36.4583 34.0625C34.5833 33.125 32.691 32.4219 30.7813 31.9531C28.8715 31.4844 26.9445 31.25 25 31.25C23.0556 31.25 21.1285 31.4844 19.2188 31.9531C17.309 32.4219 15.4167 33.125 13.5417 34.0625C13.2292 34.2361 12.9774 34.4791 12.7865 34.7916C12.5955 35.1041 12.5 35.4514 12.5 35.8333V37.5ZM25 20.8333C26.1458 20.8333 27.1267 20.4253 27.9427 19.6094C28.7587 18.7934 29.1667 17.8125 29.1667 16.6666C29.1667 15.5208 28.7587 14.5399 27.9427 13.7239C27.1267 12.908 26.1458 12.5 25 12.5C23.8542 12.5 22.8733 12.908 22.0573 13.7239C21.2413 14.5399 20.8333 15.5208 20.8333 16.6666C20.8333 17.8125 21.2413 18.7934 22.0573 19.6094C22.8733 20.4253 23.8542 20.8333 25 20.8333Z" fill="#1D1B20"/></svg>
			<span class="name">{{ person.name }}</span>
			<span class="squad">1G</span>
			<span class="website">bekijk mijn werk op <a href="https://github.com/{{ person.github_handle }}?tab=repositories">github</a></span>
		</article>
	</label>
	{%- endfor %}

	<div class="tinted-background" aria-hidden="true"></div>
</main>

{% render 'partials/foot.liquid', squads: squads %}