/* RESET */
* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	object-fit: cover;

    font-family: Arial, sans-serif;
}


h1 {
    color: brown;
}

a {
    text-decoration: none;
}

.profile-bubble {
    --size-circle: 8em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    /* center van de pagina
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    /* de fav_color uit Whois, wordt in HTML gemaakt tot een custom property, die hier gebruikt wordt */
    background-color: var(--fav_color);
    width: var(--size-circle);
    aspect-ratio: 1;
    border-radius: 50%;

    z-index: var(--z);

    animation:
    transX calc(var(--durX) * 1s) linear infinite alternate,
    transY calc(var(--durY) * 1s) linear infinite alternate;

    span {
        width: 5em;
        text-wrap: wrap;
        text-align: center;
        color: white;
    }

    /* stop animatie bij een hover */
    /* https://stackoverflow.com/questions/75906720/how-to-make-css-animation-slows-down-to-stop-on-hover-and-continue-moving-infin */
    &:hover {
        animation-play-state: paused;
    }
}

.profile-bubble.open {
    animation: none;
    z-index: 101;

    height: 5em;
    width: 20em;
    border-radius: 15px;

}


@keyframes transX {
    0% {
      translate:0;
    }
    100% {
      translate:calc(100dvw - var(--size-circle));
    }
  }
  
  @keyframes transY {
    0% {
      transform:translatey(0);
    }
    100% {
      transform:translatey( calc(100dvh - var(--size-circle) - 6em) );
    }
  }