/* RESET */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    object-fit: cover;

    font-family: Arial, sans-serif;
}

body {
	background-color: #04083F;
}


/* ##################################### header + menu ##################################### */
header {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    height: 4em;
    margin-bottom: 2em;

	#checkbox-toggle {
		position: absolute;
		right: 100vw;
	}
	
	#checkbox-toggle:checked {
		& + .checkbox-label {
			rotate: 90deg;
			color: black;
		}
	
		& ~ .menu-hamburger {
			left: 0;
			transition: left 0.5s ease-in-out;
		}

		& ~ .overlay {
			display: block;
		}
	}

	.checkbox-label {
		color: #f0f0f0;
        cursor: pointer;
        margin-left: 1.5em;
        z-index: 501;

        &:hover {
            color: rgb(218, 149, 46);
        }
    }

	.menu-hamburger {
		display: flex;
		flex-direction: column;
		position: fixed;
		left: -100%;
		top: 0;
		background-color: rgb(218, 149, 46);
		transition: left 0.5s ease-in-out;
	
		height: 100dvh;
		width: 15em;
		padding-top: 4em;
		padding-left: 2em;
		z-index: 500;
	
		cursor: pointer;
	
	
		ul {
			list-style: none;
		}
	}

	.overlay {
		display: none;
		position: fixed;
		/* top, right, bottom and left = 0 */
		inset: 0;

		background-color: rgba(0, 0, 0, 0.5);
		/* achter het hamburger menu */
		z-index: 499;
		animation: overlay-transition 500ms ease-in;
	}

    h1 {
        margin: 0 auto;

        a {
            color: #f0f0f0;
            text-decoration: none;
        }
    }
}


/* ##################################### index pagina ##################################### */
.index-main {
    #tint {
        position: absolute;
        right: 100vw;
    }

    #tint:checked {
		& ~ .tinted-background {
            display: block;
		}
	}

    .tinted-background {
		display: none;
		position: fixed;
		/* top, right, bottom and left = 0 */
		inset: 0;

		background-color: rgba(0, 0, 0, 0.5);
		/* achter profile-bubble */
		z-index: 99;
		animation: overlay-transition 500ms ease-in;
	}

    .profile-bubble {
        --size-circle: 8.5em;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
    
        background-color: #b594fc;
        /* de fav_color uit Whois, wordt in HTML gemaakt tot een custom property, die hier gebruikt wordt */
        border: 5px solid var(--fav_color);
        width: var(--size-circle);
        aspect-ratio: 1;
        border-radius: 50%;
    
        cursor: pointer;
        z-index: var(--z);
    
        animation: transX calc(var(--durX) * 1s) linear infinite alternate,
            transY calc(var(--durY) * 1s) linear infinite alternate
        ;
        
        /* stop animatie bij een hover */
        /* https://stackoverflow.com/questions/75906720/how-to-make-css-animation-slows-down-to-stop-on-hover-and-continue-moving-infin */
        &:hover {
            animation-play-state: paused;
            filter: brightness(1.2);
        }
    
        .name {
            width: 5em;
            text-wrap: wrap;
            text-align: center;
            color: white;
        }
    
        .squad {
            display: none;
            color: white;
        }
    
        .website {
            display: none;
            color: white;
        }

        iframe {
            display: none;
        }

    }
    
    /* de class open wordt toegeveogd met js als profile-bubble geklikt wordt */
    .profile-bubble.open {
        display: grid;
        grid-template-columns: min-content 1fr 4em;
        grid-template-rows: 1fr 1fr;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        animation: none;
        z-index: 101;
    
        height: 10em;
        width: 15em;
        border-radius: 15px;
    
        svg {
            align-self: end;
        }
    
        .name {
            text-wrap: nowrap;
            align-self: end;
            margin-left: 1em;
        }
    
        .squad {
            display: block;
            align-self: end;
        }
    
        .website {
            display: block;
            grid-area: 2 / 2;
            text-wrap: nowrap;
            margin-left: 1em;
        }
    }
}


/* ##################################### visitekaartjes pagina ##################################### */
.visite-main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(22.5em, 1fr));

	@media (min-width: 350px) {
		place-items: center;
	}

	.profile-card {
        display: grid;
		grid-template-columns: min-content 1fr min-content;

		background-color: antiquewhite;
		width: clamp(10em, 75%, 25em);
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		margin-bottom: 1em;
		margin-left: 1em;
		padding: 0.5em 0;
		padding-left: 0.3em;
		border-left: 7px solid var(--fav_color);

		@media (min-width: 350px) {
			width: clamp(10em, 80%, 25em);
			margin: 1em 1em;
		}

		.name {
			align-self: center;
		}
	
		.squad {
			align-self: center;
			padding-right: 1em;
		}

        .bio {
            grid-area: 2 /2;
            padding: 0.5em 0;
        }

		.website {
            grid-area: 3 /2;
            padding: 0.5em 0;
		}

        .drop-down {
            all: unset;
            grid-column: 2;
            height: min-content;
            width: min-content;
            align-self: center;
            justify-self: center;
            scale: 1.5;

            &:active {
                transform: scale(0.8) translate(-10%, 10%);
            }
        }

        .favo {
            display: none;
        }
	}

    /* toggle de class 'open' met JS (openDropDown) */
    .profile-card.open {
        height: min-content;

        .favo {
            grid-column: 2;
            display: block;
            padding: 0.5em 0;
        }

        .kleur {
            margin-bottom: 0.3em;
            .kleur-preview {
                display: inline-block;
                height: 1em;
                width: 1em;
                border: 1px solid black;
                background-color: var(--fav_color);
            }
        }

        .drop-down {
            rotate: 180deg;
            color: var(--fav_color);
        }
    }
}


/* ##################################### filter pagina ##################################### */

.data {
    color: var(--fav_color)
}








@keyframes transX {
    0% {
        translate: 0;
    }
    100% {
        translate: calc(100dvw - var(--size-circle));
    }
}

@keyframes transY {
    0% {
        transform: translatey(0);
    }
    100% {
        transform: translatey(calc(100dvh - var(--size-circle) - 15em));
    }
}

@keyframes overlay-transition {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}


.random-ilw {
    margin-bottom: 1em;
    text-decoration: none;
    background-color: var(--fav_color);
    color: black;
    padding: 0.5em;
    border-radius: 15px;

    &:hover {
        filter: brightness(50%);
    }
}